body {
    font-family: Roboto,sans-serif;
}

.navbar {
    background-color: rgb(131, 12, 1);
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: rgb(131, 12, 1);
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #8e8c8c;
}

#cabacalho 
.colecao .nav-link.active:hover {
    color:#fff ;
}

.navbar-toggler {
    background-color: #e7e3e3;
}

.section-title {
    font-family: pacifico, cursive;
}

#sobre-a-loja, #exposicao {
    background-color: #e7e3e3;
}
.text-colored {
    color: rgb(131, 12, 1);
}

.colecao .nav-link.active,
#fale-conosco button {
    background-color: rgb(131, 12, 1);
    color: #fff;
}

.nav-colecao .nav-link.active {
    background: rgb(131, 12, 1) ;
}

.colecao .nav-link:hover {
    color:rgb(131, 12, 1) ;
    color: #fff;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}


@midia (max-width:767px) {
    .carousel-item img {
        heigth: 280px;
    }
}